/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/*? Apply styles to the body fonts */
body {
  font-family: "Poppins", serif;
}

/* ? Apply styles to the Header */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}



#header {
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 1000;
}

.header-fixed {
  position: fixed !important;
  top: 0;
  animation: slideDown 0.3s ease forwards;
}

.header-initial {
  position: initial !important;
  animation: slideUp 0.3s ease forwards;
}

/*? Rotate the arrow */
.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

/*? Apply styles to the active button */
.platform-btn.active-button {
  background-color: #ffffff; /* Replace with your desired active background color */
  filter: grayscale(0);
  opacity: 1;
}

/* ? Apply styles to the search results */
.searchResults {
  overflow: hidden;
  clip-path: inset(0 round 16px);
}

.ql-editor span{
  width: fit-content !important;
  font-weight: 400 !important;
}


/*? Apply styles to the Quill editor */
.ql-editor {
  word-break: break-word !important;
  color: #25282B;
  font-size: 16px;
  line-height: 20px;
  width: 100% !important;
}

.ql-editor *{
  white-space: normal !important; 
}

.ql-editor .h2, .ql-editor h2 {
    font-size: 1.75rem;
    line-height: 2.188rem;
    font-weight: 500;
    margin-bottom: 1.563rem;
}

.ql-editor a{
  color: #195279 !important;
}

.ql-editor a *{
  color: #195279 !important;
}


.ql-editor p {
    font-size: 18px !important;
    margin-bottom: 1rem !important;
}


.ql-editor table tr td, table tr th {
    border: 2px solid #fff !important;
    text-align: left !important;
    font-size: .16 !important;
    line-height: 1.125rem !important;
}
.ql-editor table thead tr th {
    background: #88959f !important;
    color: #fff !important;
    padding: 9px 15px !important;
}

.ql-editor table tbody tr:nth-child(2n) {
    background: #edeff1 !important;
}

.ql-editor table tbody tr:nth-child(odd) {
    background: #dbdfe2 !important;
}

.ql-editor table tr td {
    line-height: 1.125rem !important;
    text-align: left !important;
    padding: 9px 15px !important;
}

/* Headings */
.ql-editor h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.ql-editor h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 1.563rem;
}

.ql-editor h3 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 1rem;
}

.ql-editor h4 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0.75rem;
}

.ql-editor h5 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0.5rem;
}

.ql-editor h6 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}


/** Lists */
.ql-editor * {
  color:#25282B !important;
  font-family: "Poppins", serif !important;
}

.ql-editor ul,
.ql-editor ol {
  margin-bottom: 1rem;
  padding-left: 20px;
}

.ql-editor ul li {
  list-style-type: disc;
  margin-bottom: 0.75rem;
  line-height: 24px;
}

.ql-editor ol li {
  list-style-type: decimal;
  margin-bottom: 0.75rem;
  line-height: 24px;
}


/* Tables */
@media screen and (max-width: 885px) {
  

    .ql-editor div:has(table) {
        overflow-x: auto;
        width: 90vw !important;
    }
}
@media screen and (min-width: 886px) {

  .ql-editor div:has(table) {
        overflow-x: auto;
        width: 100% !important;
    }
}

.ql-editor table {
  overflow-x: auto;
  /* width: 100% !important; */
  width: auto;
  /* table-layout: auto !important; */
  margin-bottom: 1rem;
  border-collapse: collapse;
  /* overflow-x: scroll !important; */
}

.ql-editor table thead {
  background-color: #B6B7B8;
  opacity: 1;
  font-size: 16px;
  line-height: 16px;
  padding: 8px;
}

.ql-editor table th,td span{
  background-color: transparent !important;
}

.ql-editor table th {
  background-color: #B6B7B8;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  padding: 8px;
}

.ql-editor table td {
  padding: 16px !important;
  border: 1px solid #ccc;
}

.ql-editor table tr:nth-child(1) {
  background-color: red !important;
}


.ql-editor table tr:nth-child(even) {
  background-color: #CECFCF !important;
}

.ql-editor table tr:nth-child(odd) {
  background-color: #E6E7E7 !important;
}

/* QL - EDITOR */
.ql-editor iframe {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 250px; 
    display: block;
}

.ql-editor a {
  color: #007bff;
  text-decoration: underline;
}

.ql-editor a:hover {
  color: #0056b3;
}

.ql-editor blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  font-style: italic;
  color: #555;
  margin-bottom: 1rem;
}

/* Code Blocks */
.ql-editor pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  font-family: monospace;
}

.ql-editor code {
  background-color: #f8f9fa;
  padding: 2px 4px;
  font-family: monospace;
  border-radius: 4px;
}

/* Images */
.ql-editor img {
  max-width: 100%;
  height: auto;
  /* ! date-29th april --> width: 100% !important;  */ 
  margin-bottom: 1rem;
}

@media (min-width: 768px) {

  .ql-editor iframe {
    width: 100%;
    height: 400px; 
    display: block;
  }
}

@media (max-width: 1279px) {
  .ql-editor div {
    font-size: 16px !important;
    margin-bottom: 10px !important;
    line-height: 27px !important;
  }

  .ql-editor span {
    font-size: 16px !important;
    margin-bottom: 10px !important;
    line-height: 27px !important;
  }

  .ql-editor p {
    font-size: 16px !important;
    margin-bottom: 10px !important;
    line-height: 27px !important;
  }

  .ql-editor h2{
    font-weight: 500;
    font-size: 24px !important;
    line-height: 36px !important;
    margin-bottom: 10px !important;
  }

  .ql-editor h2 *{
    font-size: 24px !important;
    line-height: 36px !important;
    margin-bottom: 10px !important;
  }

  .ql-editor h3{
    font-size: 20px !important;
    line-height: 36px !important;
    margin-bottom: 10px !important;
  }

  .ql-editor h3 *{
    font-size: 20px !important;
    line-height: 36px !important;
  margin-bottom: 10px !important;    
  }

}

/* Media Queries for Large Screens */
@media (min-width: 1280px) {
  .ql-editor table thead{
    font-size: 18px;
    line-height: 18px;
  }

  .ql-editor td *{
    font-size: 16px !important;
  }

  .ql-editor td{
    font-size: 16px !important;
  }

  .ql-editor span {
    font-size: 18px !important;
    margin-bottom: 1rem !important;
    line-height: 28px !important;
  }

  .ql-editor iframe {
    width: 100%;
    height: 500px; 
    display: block;
  }

  .ql-editor h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .ql-editor h2 {
    font-size: 32px !important;
    font-weight: 500 !important;
    line-height: 54px !important;
  }

  .ql-editor h2 span {
    font-size: 32px !important;
    line-height: 54px !important;
  }

  .ql-editor h3{
    font-size: 28px !important;
    line-height: 42px !important;
  }

  .ql-editor h3 *{
    font-size: 28px !important;
    line-height: 42px !important;
  }

  
  .ql-editor div{
    font-size: 18px !important;
    line-height: 28px !important;
    margin-bottom: 1rem !important;
  }

  .ql-editor h3 {
    font-size: 28px !important;
    line-height: 36px !important;
    margin-bottom: 1rem !important;
  }

  .ql-editor h4 {
    font-size: 24px;
    line-height: 30px;
  }

  .ql-editor h5 {
    font-size: 20px;
    line-height: 26px;
  }

  .ql-editor h6 {
    font-size: 18px;
    line-height: 24px;
  }

  .ql-editor p {
    font-size: 18px;
    line-height: 30px;
  }

  .ql-editor table th,
  .ql-editor table td {
    font-size: 16px;
    line-height: 16px;
  }
}


@media (max-height: 730px) {
  .content-section {
    display: none;
  }
}

/* ? Cookie Consent */

#cc-main .pm__section-title {
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 600;
}

.pm__section-title {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 16px;
}

#cc-main .pm__section-title {
  font-family: "Poppins", serif;
    font-size: 16px !important;
}

#cc-main .pm__section-desc * {
  font-family: "Poppins", serif !important;
    margin-bottom: 10px;
    box-sizing: border-box;
    float: none;
    font-style: inherit;
    font-variant: normal;
    font-weight: inherit;
    font-family: inherit;
    line-height: 1.4;
    font-size: 1em;
    transition: none;
    animation: none;
    margin: 0;
    padding: 0;
    text-transform: none;
    letter-spacing: unset;
    color: inherit;
    background: 0 0;
    border: none;
    box-shadow: none;
    text-decoration: none;
    text-align: left;
    visibility: unset;
}

#cc-main .pm__section-desc p {
  font-family: "Poppins", serif;
  margin-bottom: 20px;
}


#cc-main .pm__section--toggle .pm__section-desc table tr {
  font-family: "Poppins", serif;
    padding: 1em;
}


footer input:-webkit-autofill {
  background-color: #103E5D !important;
  color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px #103E5D inset !important;
}

footer input:-webkit-autofill::first-line {
  color: white !important; 
}


/*? Custom Scrollbar */

/* Scrollbar width and height */
#searchResults ::-webkit-scrollbar {
    width: 8px;  /* Width of vertical scrollbar */
    height: 32px; /* Height of horizontal scrollbar */
}

/* Scrollbar track */
#searchResults ::-webkit-scrollbar-track {
    background: #F5FBFF;
    border-radius: 5px;
}

/* Scrollbar handle (thumb) */
#searchResults ::-webkit-scrollbar-thumb {
    background: #195279;
    border-radius: 5px;
}

/* ? Apply styles to the search results in Search Page */
.seach-li {
  list-style-type: disc !important; /* Ensures filled circles */
}

/* ? Apply styles to the Video Description */
.video-desc a {
  color: #195279 !important;
}

/** ? Apply styles to the Cancel button in the file list */
.file-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.cancel-btn {
  background-color: transparent;
  color: red;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.cancel-btn:hover {
  color: darkred;
}